# Dependencies
node_modules

# Next.js build output
.next
dist
out

# Git
.git
.gitignore

# Docker
Dockerfile

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log
yarn-error.log

# Docs
README.md
